/* past work logos */
.show-logos {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

.hero-leadership {
  height: 100vh;
  background: url('../assets/OKP_Web_Assets/TK4/Martha+Wirth+-+71.jpg') no-repeat center center / cover;
}

@media (max-width: 768px) {
  .hero-leadership {
    height: auto;
    padding: 4rem 1rem;
    background-position: top center;
  }
}

/* bios */
.bio-image {
    width: 200px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
