/* GoodBones hero background */
.pages-hero-good-bones {
    position: relative;
    height: 100vh;
    background: url('../assets/OKP_Web_Assets/logos_bgs/background/gb-wall.jpg') no-repeat center center/cover;
    z-index: 0;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.2); /* dark overlay */
}

.hero .container {
    position: relative;
    z-index: 2;
}

.show-logo {
    height: auto;
    width: 50%;

}

/* Good Bones creative team background */
.good-bones-creative {
    position: relative;
    height: 100vh;
    background: url('../assets/OKP_Web_Assets/GoodBones/good-bones-fin.png') no-repeat center center/cover;
    z-index: 0;
    overflow: hidden;
}
/* From on High creative team background */
.from-on-high-creative {
    position: relative;
    height: 100vh;
    background: url('../assets/OKP_Web_Assets/FoH/MarketShots/Tiff1.png') no-repeat center center/cover;
    z-index: 0;
    overflow: hidden;
}




/* Carousel */
.carousel-style {
  width: 100vw;
  height: 60vh;
  max-height: 400px;
  max-width: 700px;
  overflow: hidden;
  position: relative;
}

.carousel-img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  object-position: center;
  align-items: center;
  border-radius: 8px;
}


/* Hero Video */
.video-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  margin: auto;
}
.video-hero .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



/* Cast Cards */
.cast-line {
  border: none;
  border-top: 2px solid white;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
}

.cast-card img {
    width: 90%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  /* height: auto; */
  /* max-height: 400px; */
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}
